<%- include('partials/header') %>
    <%- include('partials/sidenav') %>

        <title>Report Generation</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <body>

            <form action="/report" method="post">
                <div class="form-group">
                    <label for="activity">Choose the option : </label>
                    <select class="form-control" name="reportTimePeriod">
                        <option value="today" selected>Today</option>
                    </select>
                    <br>
                    <button class="btn btn-primary" type="submit">Generate Report</button>
                </div>
            </form>
            
        </body>

        <%- include('partials/footer') %>